.toolbar {
  width: 150px;
  float: left;
  margin: 15px;
  border: 2px solid #00FFFF;
  padding: 4px;
  background-color: #DCDCDC;
}

.toolbar li {
  font-size: 12px;
}

.toolbar ul {
  float: right;
}

.header {
  float: left;
  margin: 8px;
  border: 2px solid #00FFFF;
  padding: 4px;
  background-color: #DCDCDC;
  width: 800px;
}



.test {
  float: right;
  width: 150px;
  margin-top: 40px;
}

.title {
  float: left;
  width: 300px;
  text-align: center;
}

.content {
  margin: 10px;
  border: 1px solid #F8F8FF;
}

.content img {
  float: right;
  margin: 4px;
}

#image-left {
  float: left;
}

.left {
  float: left;
  width: 400px;
  height: 1300px;
  background-color: #e6fee6;
  margin: 8px;
  border: 2px solid #98fb98;
  padding: 6px;
}

.left h2 {
  margin: 4px;
  border: 2px solid #DCDCDC;
  padding: 6px;
  background-color: #09f609;
  font-size: 20px;
}

#bottom-header {
  margin-top: 50px;
}

.links {
  float: right;
  font-weight: bold;
}

.right {
  float: left;
  width: 400px;
  height: 1300px;
  background-color: #ccf5ff;
  margin: 8px;
  border: 2px solid #4da6ff;
  padding: 6px;
  line-height: 25px;
}

.right h2 {
  margin: 4px;
  border: 2px solid #DCDCDC;
  padding: 6px;
  background-color: #4d94ff;
  font-size: 20px;
}

.bottom {
  float: left;
  margin: 8px;
  border: 2px solid #9966cc;
  padding: 6px;
  background-color: #e6d9f2;
  width: 800px;
}

.bottom h2 {
  margin: 4px;
  border: 2px solid #7339ac;
  padding: 6px;
  background-color: #9966cc;
  font-size: 20px;
}

.bottom img {
  float: left;
  margin: 10px;
}

.bottom p {
  margin: 20px;
}

.float-right {
  text-align: right;
}

/*
.line1 {
  float: right;
}*/
